<div class="container">
  <h1>Orders Overview</h1>
  <div class="row col-10"></div>
  <table class="table">
    <thead>
    <tr>
      <th>Date</th>
      <th>Order ID</th>
      <th>User ID</th>
      <th>Items</th>
      <th>Shipping</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let adminOrder of adminOrders">
      <td>{{adminOrder.order.datePlaced | date}}</td>
      <td>{{adminOrder.orderId}}</td>
      <td>{{adminOrder.order.userId}}</td>
      <td>{{adminOrder.itemCount}}</td>
      <td>{{adminOrder.order.total | currency: 'USD'}}</td>
    </tr>
    </tbody>
  </table>
</div>
